@font-face {
  font-family: Abril Fatface;
  src: url(./fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
}
@font-face {
  font-family: Pacifico;
  src: url(./fonts/Pacifico/Pacifico-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(./fonts/Poppins/Poppins-Thin.ttf);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 创建6列，每列等宽 */
  grid-template-rows: repeat(
    4,
    1fr
  ); /* 创建4行，每行等高 */ /* 设置格子之间的间隔 */
  height: 100vh; /* 容器高度为视窗高度 */
}

.grid-item {
  background-color: dodgerblue; /* 背景色 */
  display: flex; /* 使内容居中 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  font-family: "Pacifico";
  color: white; /* 文字颜色 */
}

.grid-item2 {
  position: relative;
  background-color: white; /* 背景色 */
  display: flex; /* 使内容居中 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  font-family: "Abril Fatface";
  color: black; /* 文字颜色 */
  font-size: 65px;
}

.grid-item3 {
  background-color: #ff1ebc; /* 背景色 */
  display: flex; /* 使内容居中 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  font-family: "Pacifico";
  color: white; /* 文字颜色 */
}

.grid-item4 {
  background-color: #ffde32; /* 背景色 */
  display: flex; /* 使内容居中 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  font-family: "Pacifico";
  color: white; /* 文字颜色 */
}

.content-normal,
.content-hover {
  position: absolute;
  width: 242px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s; /* 平滑过渡效果 */
}

.content-normal {
  color: white; /* 默认状态文字颜色 */
  opacity: 1; /* 默认完全不透明 */
  font-size: 20px;
}

.content-hover {
  color: black; /* 悬停状态文字颜色 */
  opacity: 0; /* 初始时不可见 */
  background-color: white; /* 确保背景与格子背景一致 */
  font-family: "Poppins";
  text-align: center;
}

.grid-item:hover .content-normal {
  opacity: 0; /* 鼠标悬停时消失 */
}

.grid-item:hover .content-hover {
  opacity: 1; /* 鼠标悬停时显示 */
}

.grid-item3:hover .content-normal {
  opacity: 0; /* 鼠标悬停时消失 */
}

.grid-item3:hover .content-hover {
  opacity: 1; /* 鼠标悬停时显示 */
}

.grid-item4:hover .content-normal {
  opacity: 0; /* 鼠标悬停时消失 */
}

.grid-item4:hover .content-hover {
  opacity: 1; /* 鼠标悬停时显示 */
}
