@font-face {
  font-family: Notable;
  src: url(./fonts/Notable/Notable-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a4bfba; /* 背景颜色 */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.image {
  width: 400px; /* 调整图片大小 */
  margin-bottom: 20px; /* 图片与文字的间距 */
}

.title {
  font-size: 100px;
  color: #000000; /* 文字颜色 */
  font-family: "Notable";
}

.container {
    text-align: center;
    position: relative;
}

.candy {
    position: absolute;
    transition: transform 0.6s ease; /* 动画效果 */
}

.candy:hover {
    transform: rotate(360deg); /* 旋转效果 */
}

#candy1 {
    top: 162px;
    left: 318px;
    width: 110px;
}

#candy2 {
    top: 250px;
    left: 400px;
    width: 90px;
}

#candy3 {
    top: 110px;
    left: 400px;
}

#candy4 {
    top: 300px;
    left: 310px;
    width: 70px;
}

#candy5 {
    top: 210px;
    left: 180px;
    width: 80px;
}

#candy6 {
  top: 100px;
  left: -100px;
  width: 150px;
  rotate: 20deg;
}

#candy7 {
  top: 200px;
  left: 700px;
  width: 80px;
}
